.column {
    margin-bottom: 20px;
    grid-column: span 1;
    padding: 20px;
    border: 1px solid #ccc;
}
.card {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f5f5f5;
}
.card input[type="text"] {
    margin-right: 10px;
}
.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Разделить на 4 столбца */
    gap: 20px;
}
