<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.18/vue.min.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <title>kaban bread</title>
</head>
<body>
<div id="app">
    <div class="grid-container">
        <div class="column" v-for="(column, index) in columns" :key="index">
            <h3>{{ column.title }}</h3>
            <div class="task-list" :options="{ group: 'tasks' }">
                <transition-group>
                    <div class="task-card" v-for="(task, taskIndex) in column.tasks" :key="task.id">
                        <div class="task-actions" v-if="isEditingTask(task) || isFirstTask(taskIndex, column.tasks)">
                            <button @click="removeTask(task, column)">Delete</button>
                            <button @click="editTask(task)">Edit</button>
                        </div>
                        <input v-model="task.title" type="text" class="task-title" v-if="isEditingTask(task)">
                        <p class="task-title" v-else>{{ task.title }}</p>
                        <textarea v-model="task.description" class="task-description"></textarea>
                        <input v-model="task.deadline" type="datetime-local" class="task-deadline">

                        <div class="task-card" :class="{ overdue: task.overdue }">
                            <input v-if="task.isEditing" v-model="task.deadline" type="date" class="task-deadline" @input="checkDeadline(task)">
                            <div v-if="task.isOverdue" class="task-overdue">Overdue</div>
                            <div v-if="!task.isOverdue" class="task-completed">Completed on time</div>
                        </div>
                    </div>
                </transition-group>
            </div>

            <button v-if="column.title === 'Запланированные задачи'" @click="addTask(column)">Add Task</button>
            <button v-if="column.title === 'Запланированные задачи'" @click="moveToInProgress(column)">Move to work</button>
            <button v-if="column.title === 'Задачи в работе'" @click="addTask(column)">Add Task</button>
            <button v-if="column.title === 'Задачи в работе'" @click="moveToTesting(column)">Move to Testing</button>
            <button v-if="column.title === 'Тестирование'" @click="addTask(column)">Add Task</button>
            <button v-if="column.title === 'Тестирование'" @click="moveToCompletedtasks(column)">Move to Completed tasks</button>
            <input type="text" v-model="returnReason" placeholder="Reason for returning to work" class="return-reason" v-if="column.title === 'Тестирование'">
            <button v-if="column.title === 'Тестирование'" @click="moveToWork(column, returnReason)">Move to work</button>

        </div>


    </div>
</div>
<script defer src="./js/vue.js"></script>
<script defer src="./js/main.js"></script>

</body>
</html>